.section-background {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 70vh;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax {
  background-image: url("hero_bg.jpg"); 
}

.search_form{
    width: 75%;
    margin-inline: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top:-50px;
    z-index: 99999;
    background-color: white;
    border-radius: 1rem;
    padding:2rem;
}

.search_input_container{
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search_input_container input {
    padding:0.5rem;
    font-size: 1.3rem;
}
.search_row {
    margin-block: 10px;
    width: 75%;
    display: flex;
    justify-content: center;
}
.search_row_2 {
    display: flex;
    flex-direction: row;
    margin-block: 10px;
    justify-content: space-around;
    width: 100%;
    font-size: 1.3rem;
}

 .search_row_2 > div {
    flex:1 1 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
 }

 .search_btn_container{
    width: 100%;
    display: flex;
    justify-content: center;
 }
/* CSS */
.home_search_button {
  align-items: center;
  appearance: none;
  background-color: var(--text);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#932cb3 0 -3px 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-family: "JetBrains Mono",monospace;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding:1.3rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  font-size:2rem;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.home_search_button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.home_search_button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.home_search_button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}



/* Dropdown */

.dropdown {
  display: inline-block;
  position: relative;
  margin-left:40px;
}

.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}


.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.range_search{
  width: 90%;
  margin-inline:auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.range_search > p {
  margin-block:0px;
  margin-inline:12px;
}

.info_sec{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  margin-inline:auto;
  margin-block:20px;
}

.info_sec_content{
  padding:2rem;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  flex : 1 1 60%;
}

.img_container{
  flex : 1 1 40%;
  background-image: url('home_sec.jpg');
  background-size: cover;
  height: 450px;
  /* width:350px; */
}
