@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
.rating-box {
  padding: 25px 50px;
  background-color: #f1f1f1;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  text-align: center;
}
.rating-box h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.rating-box .stars {
  display: flex;
  align-items: center;
  gap: 25px;
}
.stars i {
  font-size: 35px;
  color: #b5b8b1;
  transition: all 0.2s;
  cursor: pointer;
}
.stars i.active {
  color: #ffb851;
  transform: scale(1.2);
}

.profile_first_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.profileIntro {
    margin-left:40px;
    padding:2rem;
} 
.userProfile_container{
    background-color: white;
    width:40%;
    margin-inline:auto;
    margin-block:20px;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profileImg{
    height: 200px;
    width: 200px;
    background-image: url('userProfile.png');
    background-size: cover;
    border-radius: 50%;
}

.dashboard_row_container{
    width: 80%;
    padding:1.5rem;
    margin-inline: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    margin-block:15px;
}
 .dashboard_header{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 12px;
 }

 .up_dashboard_header{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 12px;
 }

 .dashboard_header > li {
    list-style-type: none;
    font-weight: 1000;
    font-size:1.3rem;
 }

.dashboard_row {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size:1.15rem;
    column-gap: 12px;
}

.up_dashboard_row{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 12px;
}
.can_dashboard_row{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 12px;
}
.up_dashboard_header > li {
    list-style-type: none;
    font-weight: 1000;
    font-size:1.3rem;
 }


.dashboard_row_container > h2{
    font-weight: bolder;
    text-transform: uppercase;
    margin:0px 0px 10px 0px;
    width: 100%;
}

.rating_form{
    width: 100%;
}
.rating_form input {
    width: 50px;
}

.rating-box {
  padding: 25px 50px;
  background-color: #f1f1f1;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  text-align: center;
}
.rating-box h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.rating-box .stars {
  display: flex;
  align-items: center;
  gap: 25px;
}
.stars i {
  font-size: 35px;
  color: #b5b8b1;
  transition: all 0.2s;
  cursor: pointer;
}
.stars i.active {
  color: #ffb851;
  transform: scale(1.2);
}
